/* reduced the text size */
/*body {
  font-size: 14px;
}*/

/* Change default tag color*/
.blog-tags a {
  color: #999;
}

/* Making the post tile inline instead so that link is applied on text only */
.post-title {
  display: inline;
}
/* move the padding from the title to the post-meta */
.post-preview .post-meta,
.post-heading .post-meta {
  margin: 10px 0;
  font-size: 16px;
}

.post-preview .post-read-more {
  font-weight: normal;
  display: inline-block;
  padding-top: 16px;
}

.navbar-custom .nav li a {
  text-transform: none; /* Removes uppercasing */
}

.navbar-custom .avatar-container {
  transform: translateX(-50%); /* Translates the container instead of adding margin on the image */
}
.navbar-custom .avatar-container .avatar-img-border {
  margin-left: 0;
}


/* Fix for image in header for smaller device */
@media only screen and (max-width: 768px) {
  .navbar-custom .avatar-container {
      margin-top: 10px;
  }

  .header-section {
      margin-top: 110px;
  }

  .navbar-brand-logo{
    max-width: calc(100vw - 34px - 10px - 10px - 10px); /* toggle icon, padding right, padding left, space */
  }
  
  .navbar-brand-logo > img {
    object-fit: contain;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768px) { 
  .navbar-custom .avatar-container {
    margin-top: 10px;
  }

  .header-section {
    margin-top: 110px;
  }

  .navbar-brand-logo{
    max-width: calc(100vw - 34px - 10px - 10px - 10px); /* toggle icon, padding right, padding left, space */
  }

  .navbar-brand-logo > img {
    object-fit: contain;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) { 
  .navbar-custom .avatar-container {
    margin-top: 10px;
  }

  .header-section {
    margin-top: 190px;
  }
}

.post-preview {
  padding: 20px 0;
  border-bottom: none;
}

.intro-header .page-heading hr {
  display: none;
}

.pager li a {
  transition: all .2s;
}

#social-share-section {
  margin: 30px 0;
}

.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}

.post-preview .post-title {
  font-size: 24px;
}